article
  h1 Instructions
  h3 The client has requested a new feature...
  blockquote
    em
      'Feature: I can prompt a Parent to collect a Permission Slip

      'When I visit a Field Trip's detail page
      'And I click a button to "Add Students"
      'Then I should see a form to add Students, along with Guardian email addresses to the Field Trip
      'When I have selected all the Students that I want to add to the trip
      'And I have provided a Guardian email address for each Student
      'Then each Guardian should receive an email with a link to approve their Student's attendance
      'When the Parent clicks the link in the email, the Student's attendance should be marked as approved
  p
    'Follow established patterns to add the new feature. Maintain the 100% test
    'coverage established in the repo.
